In [1]:
import pandas as pd 
import pycountry

In [2]:
data = pd.read_csv("userportfolio30d.csv", header=None, names=["Username", "Security's Type", "WSO ID", "ISIN", "Security's Name"])

__ISIN__ stands for International Securities Identification Number (ISIN). It is an international numbering system set up by the International Organization for Standardization (ISO) to number specific securities, such as stocks (equity and preference shares), bonds, options and futures.

In [3]:
data.head(10)

,Username,Security's Type,WSO ID,ISIN,Security's Name
0,-SH-,STK,296843765,AT0000A21KS2,Immofinanz
1,-SH-,FND,14907,LU0128522157,Templeton Asian Growth A acc $
2,-SH-,FND,4415,LU0124384867,BGF New Energy A2 $
3,-SH-,FND,14944,LU0128526570,Templeton Latin America A acc $
4,007coolinvestor,STK,181746368,DE000A0L1H32,MPH Health Care
5,007coolinvestor,STK,1348,DE0005227235,Biotest
6,007coolinvestor,STK,222219608,US23284F1057,CytomX Therapeutics
7,007coolinvestor,STK,182256796,US19249H1032,Coherus BioSciences
8,007coolinvestor,STK,103631644,US0044491043,Achaogen
9,007coolinvestor,STK,16801,DE0006190705,HAEMATO

## Company Extraction

__List of company names__

In [4]:
companies = set(data["Security's Name"])
companies = {x for x in companies if x==x}

In [8]:
count=0
lstc = []
for items in companies:
    lstc.append(items)
    count+=1
    if count>20:
        break

In [10]:
print(lstc)

['Lear', 'Anglo American', 'UEX', 'QYOU Media', 'EURO STOXX Automobiles & Parts ESTX Aut&Prt EUR (Net Return) Index Zertifikat Open-End (HVB)', 'Janus Balanced A $ acc', 'Gold Endlos Turbo Long 931,11 Open-End (HSBC)', 'Capri Holdings', 'Amazon.com Call 1.720 bis 2020/06 (HSBC)', 'Xtrack II Euro Government Bond 15-30 ETF 1C', 'Commerzbank Call 20 bis 2019/06 (CITI)', 'Schoellerbank Aktienfonds Value T', 'Hamborner REIT', 'EUR/GBP Inline 0,81-0,93 bis 2019/06 (SG)', 'Dermapharm Holding', 'Silber 1 Unze Fixing Mini Future Long 12,20 Open-End (HVB)', 'Akumplast', 'China Health Group', 'Digital X', 'Wirecard Discount Call 144-149 bis 2019/07 (HVB)', 'LEONTEQ SECURITIES AG']

## Adding Country Column

__List of country codes extracted from ISIN__

In [11]:
countryLong = set(data["ISIN"])

In [12]:
countryLong = {x for x in countryLong if x==x}

In [13]:
countries = []
for items in countryLong:
    countries.append(items[:2])

In [14]:
distinctCountries = sorted(set(countries))

In [22]:
print("Distinct countries in the data ->" ,len(distinctCountries))

Distinct countries in the data -> 109

In [16]:
special_codes = {
    'AN':'Netherlands Antilles',
    'CS':'Serbia and Montenegro',
    'EU':'European Union',
    'ZR':'Zaire'
}

In [17]:
country_dict = {}
deleted = []
for i in distinctCountries:
    try:
        country = pycountry.countries.get(alpha_2=i.upper())
        country_dict[i] = country.name
    except:
        try:
            country_dict[i] = special_codes[i]
        except:
            country_dict[i] = 'UNKNOWN'
            deleted.append(i)

In [18]:
print("Number of UNKNOWN Country codes ->", len(deleted))

Number of UNKNOWN Country codes -> 21

In [19]:
country_col = []
count=0
for items in data["ISIN"]:
    try:
        if items[:2] in country_dict.keys():
            country_col.append(country_dict[items[:2]])
    except:
        country_col.append('UNKNOWN')

__Adding new column country in dataframe__

In [20]:
data['Country'] = country_col

In [21]:
data.head(10)

,Username,Security's Type,WSO ID,ISIN,Security's Name,Country
0,-SH-,STK,296843765,AT0000A21KS2,Immofinanz,Austria
1,-SH-,FND,14907,LU0128522157,Templeton Asian Growth A acc $,Luxembourg
2,-SH-,FND,4415,LU0124384867,BGF New Energy A2 $,Luxembourg
3,-SH-,FND,14944,LU0128526570,Templeton Latin America A acc $,Luxembourg
4,007coolinvestor,STK,181746368,DE000A0L1H32,MPH Health Care,Germany
5,007coolinvestor,STK,1348,DE0005227235,Biotest,Germany
6,007coolinvestor,STK,222219608,US23284F1057,CytomX Therapeutics,United States
7,007coolinvestor,STK,182256796,US19249H1032,Coherus BioSciences,United States
8,007coolinvestor,STK,103631644,US0044491043,Achaogen,United States
9,007coolinvestor,STK,16801,DE0006190705,HAEMATO,Germany